<div class="modal-header">
  <h3>How It Works</h3>
</div>

<div class="modal-body">

  <div class="how">
	  <div class="num">1</div>
	  <div class="text">
		  <span>Create</span> a new task
	  </div>
  </div>
  <div class="how">
	  <div class="num">2</div>
	  <div class="text">
		  Manage tools in <span>Do</span> section
	  </div>
  </div>
  <div class="how">
	  <div class="num">3</div>
	  <div class="text">
		  Save your references in the <span>Research</span> section
	  </div>
  </div>
  <div class="how">
	  <div class="num">4</div>
	  <div class="text">
		  Use the <span>Communicate</span> section to collaborate
	  </div>
  </div>
  <!--
  <div class="how">
	  <div class="num">5</div>
	  <div class="text">
		  <span>Share</span> tasks and tabs with friends
	  </div>
  </div>-->
	
  
</div>

<div class="modal-footer">
  <input value="Close" class="btn btn-primary" type="submit" ng-click="hide()" />
</div>
