<div class="linkblock">
    <ul id="social">
        <li><a href="http://facebook.com/overtask"><img src="images/icons/social-fb.png" /></a></li>
        <li><a href="http://twitter.com/overtaskme"><img src="images/icons/social-tw.png" /></a></li>
        <li><a href="http://google.com/+overtaskme"><img src="images/icons/social-gplus.png" /></a></li>
    </ul>
    <ul id="links">
        <li><a href="http://chrome.overtask.me/faq">FAQ</a></li> | 
        <li><a href="http://www.youtube.com/playlist?list=PLbnnYugKmWMkA0ApCuCV4MBlMqG54HO-I">Tutorial</a></li> | 
        <li><a ng-click="openFeedbackModal()">Feedback</a></li> | 
        <li><a href="https://chrome.google.com/webstore/detail/overtask/oeiijfgmbaopeehamdhiiepidbpfkcda/reviews?hl=en">Rate</a></li>
    </ul>
</div>