<div id="savetabsModal">
    <div class="modal-content">
        
        <div class="modal-header">
            <h4 class="modal-title big" id="savetabsModalLabel">Overtask Tips</h4>
        </div>
        <div class="modal-body">
            <img class="tips" src="../images/whatsnew/tips-savetabs.png" />
            <p class="modalbig">Your current browsing session will be saved as the tabs in your task are launched.</p>

           <div class="clear"></div>

        </div>
        <div class="modal-footer">
            <a ng-click="cancel();launchTask(task,hide);" class="btn btn-success btn-lg2 btnwhatsnew" style="margin: 0 auto; display: block;"><h3>Got it! Let's Continue.</h3></a>
        </div>
    </div>
</div>