<div id="welcomeModal">
    <div class="modal-content">
        
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h4 class="modal-title big" id="welcomeModalLabel">Welcome to Overtask</h4>
        </div>
        <div class="modal-body">
            
            <div class="new">
                <img src="../images/whatsnew/focus.png" />
                <h3>Stay<br />focused</h3>
                <p>Overtask keeps you focused on the task you are doing by completing one task at a time</p>
            </div>
            <div class="new">
                <img src="../images/whatsnew/taborganization.png" />
                <h3>Be<br />Organized</h3>
                <p>Overtask organizes all your tabs based on the task you are doing. </p>
            </div>
            <div class="new">
                <img src="../images/whatsnew/synctasks.png" />
                <h3>Sync<br />Tasks</h3>
                <p>You can now sync your tasks by creating an Overtask account.</p>
            </div>
            <div class="new">
                <img src="../images/whatsnew/sharetask.png" />
                <h3>Share<br />Tasks</h3>
                <p>Share tasks publicly or to a group of friends when you create an Overtask account.</p>
            </div>

           <div class="clear"></div>

        </div>
        <div class="modal-footer">

            <a class="btn btn-default btn-lg2 btnwhatsnew" ng-click='cancel()'><h3>Continue without an account</h3><p>You can sign up later.</p></a>
            <a class="btn btn-success btn-lg2 btnwhatsnew" ng-click='cancel()' href='http://chrome.overtask.me/user/register'><h3>Create an Overtask Account</h3><p>Get the most out of Overtask!</p></a>

<!--             <a class="btn btn-success btn-lg2 btnwhatsnew" data-dismiss="modal"><h3>Start using Overtask!</h3></a> -->
        </div>
    </div>
</div>